.home {
	form {
		[type=checkbox],
		[type=file],
		[type=radio] {
			margin: 0 .5rem 0 0;
			color: $white;
		}
	}
	
	.choice {
		display: flex;
		flex-wrap: wrap;
		
		[type=checkbox] {
			margin-top: 5px;
			width: auto;
			flex: 0 0 auto;
		}
		label {
			width: auto;
			flex: 1 1 0px;
			font-size: rem-calc(20);
			line-height: 1.2;
		}
		
	&:not(.all) {
		padding: .5rem 1rem;
	}
	
	&.all-cats {
		background-color: #f15a24;
		label {
			color: $white;

		}		
	}
		
	}
	
	button {
		cursor: pointer;
		font-size: rem-calc(28);
		font-weight: 600;
		padding: 1rem 2rem;
		background-color: $black;
		color: $white;
		border-radius: 30px;
	}
	
}