.home {
	
	main {
		padding-top: 5rem;
		h1 {
			padding-bottom: 2rem;
		}
	}
	
	form {
		[type=checkbox],
		[type=file],
		[type=radio] {
			margin: 0 .5rem 0 0;
			color: #fff;
		}
	}
	
	.choice {
		display: flex;
		flex-wrap: wrap;
		
		[type=checkbox] {
			margin-top: 5px;
			width: auto;
			flex: 0 0 auto;
		}
		label {
			width: auto;
			flex: 1 1 0px;
			font-size: rem-calc(20);
			line-height: 1.2;
		}
		
	&:not(.all-choices) {
		padding: .5rem 1rem;
	}
	
	&.all-sections {
		background-color: #f15a24;
		label {
			color: #fff;

		}		
	}
		
	}
	
	.form-buttons {
		padding-top: 5rem;
	}
	
	button {
		cursor: pointer;
		font-size: rem-calc(28);
		font-weight: 600;
		padding: 1rem 2rem;
		background-color: $black;
		color: $white;
		border-radius: 30px;
	}
	
	#loader {
		visibility: hidden;
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.3);
		transition: opacity .4s ease;
		
		.loader-card {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;		
			margin: auto;
			padding: 2rem;
				
			.inner {
				height: 200px;
				width: 250px;
				background-color: #fff;
				border-radius: 15px;
			}
		}
		
		.loading-gif {
			img {
				width: 100px;
				height: 100px;
				display: block;
				margin: auto;
			}
		}
		
	&.show {
		visibility: visible;
		opacity: 1;
	}
		
	}
	
}